@model MusicasModel

@{
    ViewData["Title"] = "Cadastrar";
}

<div class="container bg-primary mt-5 p-4 rounded-3 overflow-hidden">
    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastrar músicas</h1>
    </div>
    <form method="post" asp-controller="Musicas" asp-action="Cadastrar">
        <div class="mb-5">
            <label for="Nome" class="form-label text-light">Nome</label>
            <input type="text" class="form-control" asp-for="Nome" id="Nome" placeholder="Qual o nome da música?"/>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="mb-5">
            <label for="Artista" class="form-label text-light">Artista</label>
            <input type="text" class="form-control" asp-for="Artista" id="Artista" placeholder="Qual o nome do(a) artista?"/>
            <span asp-validation-for="Artista" class="text-danger"></span>
        </div>

        <div class="mb-5">
            <label for="Categoria" class="form-label text-light">Categoria</label>
            <select class="form-select" asp-for="Categoria" id="Categoria">
                @if (ViewBag.Categorias != null) 
                {
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria">@categoria</option>
                    }
                }
                else
                {
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Eletrônica">Eletrônica</option>
                    <option value="Indie">Indie</option>
                    <option value="Clássica">Clássica</option>
                    <option value="Internacional">Internacional</option>
                    <option value="Gospel">Gospel</option>
                }
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>

        <div class="mb-5">
            <label for="Lancamento" class="form-label text-light">Lançamento</label>
            <input type="date" class="form-control" asp-for="Lancamento" id="Lancamento" placeholder="Qual o Lançamento da música?"/>
            <span asp-validation-for="Lancamento" class="text-danger"></span>
        </div>

        <div class="mb-5">
            <label for="Link" class="form-label text-light">Link</label>
            <input type="text" class="form-control" asp-for="Link" id="Link" placeholder="Cole o link"/>
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
        
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success m-50">Adicionar</button>
        </div>
    </form>
</div>