@{
    ViewData["Title"] = "Login";
}

<div class="container bg-dark mt-5 p-4 rounded-3 overflow-hidden">

    <div class="mb-5 text-center">
        <h1 class="text-light" style="font-weight: 200">Login</h1>
    </div>
    
    <form method="post" asp-controller="Usuarios" asp-action="Cadastrar">
        
        <div class="mb-5">
            <label for="Nome"></label>
        </div>
        
    </form>
    
</div>