@{
    ViewData["Title"] = "Home Page";
}

<div class="video-container">
    <video autoplay muted loop id="meuVideoDeFundo">
        <source src="videos/Vídeo%20de%20fundo%20Indies%20‐%20Feito%20com%20o%20Clipchamp.mp4" type="video/mp4">
        Seu navegador não suporta vídeos HTML5.
    </video>
</div>

<div id="conteudo-principal" class="text-center mt-5 mt-5">
    <h1 class="text-light" style="font-weight: 200">Bem vindos ao Indies!!</h1>
    <p class="text-light">Registre músicas originais que vão surpreender as pessoas </p>
    <p class="text-light">Clique <a asp-controller="Musicas" asp-action="Index">aqui</a> para começar!</p>
    
</div>